{% extends 'main/base.html' %}
{% block body_class %}dashboard-background{% endblock %}
{% block content %}

<div class="dashboard-container">
    <div class="top-container">
        <h5>Welcome, {{ user.username }}</h5>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <div class="left-container">
        <h4>Income</h4>
        <a href="{% url 'add_income' %}">Add</a>
        <br>
        <br>
        
        {% include 'income/income_table.html' %}

        <br>
        <h4>Savings</h4>
        <a href="{% url 'add_savings' %}">Create</a>
        <br>
        <br>
        
        {% include 'savings/savings_table.html' %}

        <br>
        <h4>Bills</h4>
        <a href="{% url 'add_bills' %}">Add</a>
        <br>
        <br>
        
        {% include 'bills/bills_table.html' %}
    </div>
    
    <div class="right-container">  
        {% include 'reports/budget_donut_chart.html' %}
    </div>

</div>

{% endblock content %}